@import "styles/config.scss";

.downloadAppContainer{ position: relative; max-width: 185px;
    .btn{ background: transparent !important;
        &.downloadApp{transition: 0.3s;  padding: 0px; background: transparent; min-width: 150px;font-size: 12px;   color: $SecondaryColor; display: flex; align-items: center; justify-content: center; 
            .btn_before_image{height: 18px; width: 13px;}
            &:after{content:"\e64b";font-family: themify; font-weight: 600; color:$SecondaryLightColor; transition: 0.3s; position: absolute; right: 4px;}
            &.active{
                &:after{content:"\e64b"; font-family: themify; transform: rotateX(180deg);}
            }
        }
    } 
    .downloadAppModal{padding: 24px; z-index: 3;position: absolute; right:0px; top:48px;  background: $whiteColor; box-sizing: border-box; height: 220px;width: 400px; border: 1px solid $lightBackground;border-radius: 12px;background-color: $whiteColor;box-shadow: 0 10px 48px 0 rgba(23,23,25,0.24);
        .title{font-weight: 600; margin: 0px 0px 8px;  font-size: 18px; line-height:28px; color: $SecondaryLightColor;}
        .infoText{font-weight: 600; margin: 0px 0px 24px; font-size: 14px; line-height: 24px; color: $SecondaryColor;}       

        .scanner{ display: flex; align-items: center; justify-content:flex-start; 
            .scannerCode{
                 img{ height: 82px; width: 82px;}
             }
             .orSeparator{position: relative; height:78px; margin: 0px 24px;
                 &:after{content: ""; z-index: 1; height:78px; width: 1px ; background: $SecondaryColor-1; position: absolute;}
                 &:before {content: "OR";color:$SecondaryColor-6; padding: 10px 0px;font-size: 12px; font-weight: 600; z-index: 9; position: absolute;left:-9px;top:22px;background-color: #fff;}
             }
             .appIcon{ display: flex; align-items: center; flex-direction: column; justify-content: space-between;
              img{cursor: pointer; padding: 6px; margin-bottom: 8px; height: 26px;width: 95px;border-radius: 8px;background-color: #161819;
                     &:last-child{margin-bottom: 0px;}
                     &.google-play{margin-bottom: 8px;}
                 }
             }
         }
    }    
}
