

@import "styles/config.scss";;


.verifyOtpContainer {position: relative;
        ._title{font-size: rem(16);line-height: rem(18); color: $SecondaryLightColor;text-align: center;font-weight: bold;margin:rem(0) auto rem(8);}
        ._infoText{font-size: rem(12);color: $SecondaryColor;text-align: center;line-height: rem(18); margin: rem(0);
            strong {font-weight: 600;}
            a{margin-left: rem(8);color:$SecondaryLightColor;font-weight: 600;}
        }
        .inputWrapper{ position: relative;margin: rem(24) auto rem(24);
            .inputBox {max-width:rem(185); display: flex;justify-content: space-between; align-items: center; margin: rem(0) auto;border-bottom:rem(2) solid rgba(5,47,95,0.1);background: transparent;
                input {width: rem(32);font-size: rem(32);color: $SecondaryColor;border: 0;outline: 0;text-align: center;
                    &:focus {outline: 0;border:0;}
                    &::placeholder {font-size: rem(40);color: rgba(5,47,95,.2);}
                }
                + .otpError {transition: all 0.2s ease-in-out; visibility: hidden;margin: rem(0) auto;font-size: rem(12);font-weight: 600;color:$failed; text-align: center; padding:rem(0); position: absolute; bottom: rem(-20); width: 100%;}
                &.hasError {
                    input{ &::placeholder{color: $failed;}}
                    + .otpError {visibility: visible;}
                }
                &.mobileField {input {width: 100%;font-size: rem(24);}}
            }
        }
        .buttonContainer{
          .btn{width: 100%;}
        }
        
        .actionBox {display: flex;flex-direction: column;align-items: center;gap: rem(8);justify-content: center;
            .textBtn {color: $SecondaryColor;font-size: rem(12);font-weight: 600;margin-bottom: rem(16);cursor: pointer;}
        } 
}

@media(max-width:767px) {
    .verifyOtpContainer {min-width: 100%;}
}