@import "styles/config.scss";
.mainSidebarSection{ width: 275px; position: fixed; top: 102px;
    &.scrolledLeftMenu{top: 85px;
        .leftMenu{   
            ._menuList{ max-height: 92vh;}
        }    
    }
    ._menuList{@include commonBox(); padding: 0px; box-shadow: none; border-radius: 0px;  width: 100%; min-height:calc(100vh - 215px); overflow: auto;
          max-height: 82vh;  margin: 0px; box-sizing: border-box;height: auto; 
        ::-webkit-scrollbar { width: 4px; padding-left: 0px; }    
        ::-webkit-scrollbar-track { width:4px; background:$SecondaryColor-1; }  
        ::-webkit-scrollbar-thumb { width: 4px; background:$SecondaryColor-1 }  
        ::-webkit-scrollbar-thumb:hover {background:$SecondaryColor-1 }
        .list{ display: none; border-bottom: 1px solid $SecondaryColor-1;
            &._active{display: block;border-radius: 0px;}
            .inner{list-style: none; display: flex; align-items: center; justify-content: flex-start;  padding: 13px 16px 13px 32px; position: relative; margin-bottom: 8px; cursor: pointer; text-transform: capitalize; font-size: 14px; font-weight: normal; line-height: 22px; color:$SecondaryColor;
                    .imageContainer{display: none; position: absolute; width: 16px; height:16px; left: 8px; top:16px;}
                    &:before{content:""; position: absolute;top:14px; left: 10px; width: 18px; height: 18px;  background-repeat: no-repeat; background-position: center;}                    
                    &.home{&:before{content:"";background-image: url($imgLeftMenu+"home.svg"); }}
                    &.product{&:before{content:"";background-image: url($imgLeftMenu+"product.svg"); }}
                    &.loans{&:before{content:"";background-image: url($imgLeftMenu+"loans.svg"); }}
                    &.settings{&:before{content:"";background-image: url($imgLeftMenu+"settings.svg"); }}
                    &.calculator{&:before{content:"";background-image: url($imgLeftMenu+"calculator.svg"); }}
                    &.investment{&:before{content:"";background-image: url($imgLeftMenu+"investment.svg"); }}
                    &.dashboard{&:before{content:"";background-image: url($imgLeftMenu+"creditScore.svg"); }}
                    &.support{&:before{content:"";background-image: url($imgLeftMenu+"support.svg"); }}
                    &.myAccount{&:before{content:"";background-image: url($imgLeftMenu+"myAccount.svg"); }}
                    &.report{&:before{content:"";background-image: url($imgLeftMenu+"report.svg"); }}
                    &.offer{&:before{content:"";background-image: url($imgLeftMenu+"offer.svg"); }}
                    &.profile{&:before{content:"";background-image: url($imgLeftMenu+"myProfile.svg"); }}
                    &.contactUs{&:before{content:"";background-image: url($imgLeftMenu+"contactUs.svg"); }}
                    &.logout{&:before{content:"";background-image: url($imgLeftMenu+"logout.svg"); }}
                   
                    &:hover,
                    &._active{border-radius: 0px;  color: $SecondaryLightColor;background-color: #f2f2fc; 
                        &.home{&:before{content:"";background-image: url($imgLeftMenu+"home_Active.svg"); }}
                        &.product{&:before{content:"";background-image: url($imgLeftMenu+"product_Active.svg"); }}
                        &.investment{&:before{content:"";background-image: url($imgLeftMenu+"investment_Active.svg"); }}
                        &.dashboard{&:before{content:"";background-image: url($imgLeftMenu+"creditScore_Active.svg"); }}
                        &.support{&:before{content:"";background-image: url($imgLeftMenu+"support_Active.svg"); }}
                        &.settings{&:before{content:"";background-image: url($imgLeftMenu+"settings_Active.svg"); }}   
                        &.myAccount{&:before{content:"";background-image: url($imgLeftMenu+"myAccount_Active.svg"); }}
                        &.report{&:before{content:"";background-image: url($imgLeftMenu+"report_Active.svg"); }}
                        &.offer{&:before{content:"";background-image: url($imgLeftMenu+"offer_Active.svg"); }}
                        &.profile{&:before{content:"";background-image: url($imgLeftMenu+"myProfile_Active.svg"); }}
                        &.contactUs{&:before{content:"";background-image: url($imgLeftMenu+"contactUs_Active.svg"); }}
                        &.logout{&:before{content:"";background-image: url($imgLeftMenu+"logout.svg"); }}
                    }
                &.arrow{transition: 0.3s;
                    &._active{&:after{content:"\e64b"; font-family: themify; transform: rotateX(180deg);}transition: 0.3s; }
                    &:after{content:"\e64b";font-family: themify; font-weight: 600; color:$SecondaryLightColor; transition: 0.3s; position: absolute; right: 12px;}
                }
            }
            ._dropdownList{ display: none; margin: 0px;list-style: none;
                //max-height: 200px;overflow-y: auto;
                &::-webkit-scrollbar{display: none;}
                &._active{ display: block;  padding: 0px 0px 0px 16px;}
                ._inner{ display: flex; border-bottom: 0px;align-items: center;justify-content: flex-start;
                    &._label{color: $SecondaryColor; margin-bottom: 0px; padding: 0px; font-size: 12px; position: relative; min-height: 30px; cursor: pointer;
                        &::before{content: ''; position: initial;height: 1px;width: 12px;background-color:$SecondaryColor-8;margin-right: 8px;}
                        &:hover{ background: transparent; color:$SecondaryLightColor;
                            &::before{content: '';background-color:$PrimaryColor;}
                        }
                    }
                }
            }
            
        }
    }
    @media screen and (max-width: 820px) { width: 275px;height: calc(100vh - 215px);top: 85px; overflow: auto;
         ._menuList{padding: 0px; box-shadow: none; border-radius: 0px;  width: 100%; min-height:calc(100vh - 215px); overflow: auto;
           .list{ border-bottom: 1px solid $SecondaryColor-1;
                .inner{ margin: 0px;
                    &._active{ border-radius: 0px;}
                }
           } 
        }
         
         &.scrolledLeftMenu{top: 85px;}
    } 
}